configuration {
  font: "Envy Code R 10";
  line-margin: 10;

  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
  font:           "JetBrains Mono NF 16";
  show-icons:     true;
}

@theme "~/.config/rofi/themes/nord.rasi"
